---
---
<header class="site-header">
  <div class="container inner">
    <a href="/" class="brand">Tokyo <span>Towers</span> Journal</a>
    <nav class="nav">
      <a href="/">記事一覧</a>
      <a href="/about/">このブログについて</a>
    </nav>
  </div>
</header>
